.App {
  text-align: left;
  /* background-image: url('beta_bg.png'); 
  background-repeat: repeat; */
}
p.italics {
  font-style: italic;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  font-weight: bold;
}
.accent {
  color:darkblue;
}
.alert {
  color:darkred;
  font-weight: normal;
  font-style: italic;
  font-size: .8em;
  vertical-align: middle;
}
.inner-div {
    width: 100%;
    padding: 40px; /* Example padding */
    box-sizing: border-box; /* Crucial for containment */
    position: relative; 
    border: none !important;
}
.level {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom:5px;
}
.levelM {
  background-color: #e6e6e6;
}
.level0 {
  background-color: #ffffff;
}
.level1 {
  background-color: #cce5ff;
}
.level2 {
  background-color: #ccffff;
}
.level3 {
  background-color: #ffffcc;
}
.level4 {
  background-color: #ffe6ff;
}
.level5 {
  background-color: #fcd4ac;
}
.level6 {
  background-color: #cffaec;
}
.level7 {
  background-color: #d4d4d4;
}
.level8 {
  background-color: #ffd6fc;
}
.level9 {
  background-color:#cae2fc;
}
